
{# Esto es un formulario generico en dos columnas, se utliza para Show, New y Edit #}

<style>
  table{
    width: 100%;                   
  }

  span{                   
    font-weight: bold;        
  }

  td{        
    height: 3em;
    text-align: left;
  }

  .col{
    text-align: left;
  }
  
</style>

  {{ form_start(form) }}
<div class="container text-center">

      {# Fila 1 #}
      <div class="row align-items-start">

              {# Fila 1 Columna 2 #}
              <div class="col">
                <h2 class="form-text" style="font-size: x-large;">Datos personales</h2>
                <br>
                <br>                 
                    <table>
                      <tr>
                        <td><span class="form-text" >Tipo de documento</span></td>
                        <td>{{ form_widget(form.form_persona.tipoDocumento, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Tipo de documento'}}) }}</td>            
                      </tr>
                      <tr>
                        <td><span class="form-text" >N° de documento</span></td>
                        <td>{{ form_widget(form.form_persona.numeroDocumento, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Numero de documento'}}) }}</td>            
                      </tr>
                      <tr>
                        <td><span class="form-text">Apellido</span></td>
                        <td>{{ form_widget(form.form_persona.apellido, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Apellido'}}) }}</td>            
                      </tr>
                      <tr>
                        <td><span class="form-text">Nombre</span></td>
                        <td>{{ form_widget(form.form_persona.nombre, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Nombre'}}) }}</td>            
                      </tr>
                      <tr>
                        <td><span class="form-text">Fecha de nacimiento</span></td>
                        <td>{{ form_widget(form.form_persona.fechaNacimiento, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Fecha de Nacimiento'}}) }}</td>            
                      </tr>
                      <tr>
                        <td><span class="form-text">CUIL</span></td>
                        <td>{{ form_widget(form.form_persona.cuil, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Cuil'}}) }}</td>            
                      </tr>
                      <tr>
                        <td><span class="form-text">Sexo</span></td>
                        <td>{{ form_widget(form.form_persona.sexo, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Sexo'}}) }}</td>            
                      </tr>
                      <tr>
                        <td><span class="form-text">País</span></td>
                        <td>{{ form_widget(form.form_persona.pais, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Pais'}}) }}</td>            
                      </tr>
                    </table> 
              </div>
          
    
              {# Fila 1 Columna 2 #}
              <div class="col">
                <h2 class="form-text" style="font-size: x-large;">Datos profesionales</h2>
                <br>
                <br> 
                    <table>
                      <tr>
                        <td><span class="form-text">Matricula</span></td>
                        <td>{{ form_widget(form.form_profesional.matricula, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'N° de matricula'}}) }}</td>
                      </tr>
                      <tr>
                        <td><span class="form-text">Fallecido</span></td>
                        <td>{{ form_widget(form.form_profesional.fallecido, {'attr': {'class': 'form-control form-control-sm'}}) }}</td>
                      </tr>
                      <tr>
                        <td><span class="form-text">Fecha de fallecimiento</span></td>
                        <td> {{ form_widget(form.form_profesional.fechaFallecido, {'attr': {'class': 'form-control form-control-sm'}}) }}</td>
                      </tr>
                      <tr>
                        <td><span class="form-text">Habilitado</span></td>
                        <td>{{ form_widget(form.form_profesional.habilitado, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Habilitado'}}) }}</td>
                      </tr>
                      <tr>
                        <td><span class="form-text">Fecha de alta</span></td>
                        <td>{{ form_widget(form.form_profesional.fechaAlta, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Fecha de alta'}}) }}</td>
                      </tr>
                      <tr>
                        <td><span class="form-text">Fecha de baja</span></td>
                        <td>{{ form_widget(form.form_profesional.fechaBaja, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Fecha de baja'}}) }}</td>
                      </tr>
                      <tr>
                        <td><span class="form-text">Fecha de carga</span></td>
                        <td>{{ form_widget(form.form_profesional.fechaCarga, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Fecha de carga'}}) }}</td>
                      </tr>
                      
                      <tr>
                        <td><span class="form-text">Usuario de carga</span></td>
                        <td>{{ form_widget(form.form_profesional.usuario, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Usuario de carga'}}) }}</td>
                      </tr>
                      <tr>
                        <td><span class="form-text">Tipo de matricula</span></td>
                        <td>{{ form_widget(form.form_profesional.tipoMatricula, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Tipo de matricula'}}) }}</td>
                      </tr>          
                      <tr>
                        <td><span class="form-text">Distrito</span></td>
                        <td>{{ form_widget(form.form_profesional.distrito, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Distrito'}}) }}</td>
                      </tr>   
                    </table>
              </div>   

      </div>



      {# Fila 2 #}
      <div class="row align-items-start">

              {# Fila 2 Columna 1 #}
              <div class="col">
                <h2 class="form-text" style="font-size: x-large;">Datos de contacto</h2>
                <br>
                <br>                 
                    <table>
                      <tr>
                        <td><span class="form-text" >Telefono Fijo</span></td>
                        <td>{{ form_widget(form.form_contacto.telefonoFijo, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Telefono fijo'}}) }}</td>            
                      </tr>
                      <tr>
                        <td><span class="form-text" >Telefono Móvil</span></td>
                        <td>{{ form_widget(form.form_contacto.telefonoMovil, {'attr': {'class': 'form-control form-control-sm', 'placeholder': '(11) xxxx-xxxx'}}) }}</td>            
                      </tr>
                      <tr>
                        <td><span class="form-text">E-mail</span></td>
                        <td>{{ form_widget(form.form_contacto.mail, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'ejemplo@mail.com'}}) }}</td>            
                      </tr>
                    </table> 
              </div>
          
    
              {# Fila 2 Columna 2 #}
              <div class="col">
                <h2 class="form-text" style="font-size: x-large;">Domicilio</h2>
                <br>
                <br> 
                    <table>
                      <tr>
                        <td><span class="form-text">Calle</span></td>
                        <td>{{ form_widget(form.form_domicilio.calle, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Calle'}}) }}</td>
                      </tr>
                      <tr>
                        <td><span class="form-text">Altura</span></td>
                        <td>{{ form_widget(form.form_domicilio.numero, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Altura'}}) }}</td>
                      </tr>
                      <tr>
                        <td><span class="form-text">Piso</span></td>
                        <td> {{ form_widget(form.form_domicilio.piso, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Piso'}}) }}</td>
                      </tr>
                      <tr>
                        <td><span class="form-text">Departamento</span></td>
                        <td>{{ form_widget(form.form_domicilio.departamento, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Departamento'}}) }}</td>
                      </tr>                    
                      <tr>
                        <td><span class="form-text">Fecha de actualizacion</span></td>
                        <td>{{ form_widget(form.form_domicilio.fechaActualizacion, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'fechaActualizacion'}}) }}</td>
                      </tr>
                      <tr>
                        <td><span class="form-text">Localidad</span></td>
                        <td>{{ form_widget(form.form_domicilio.localidad, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Localidad'}}) }}</td>
                      </tr> 
                    </table>
              </div>   

              <div class="col">
                <h2 class="form-text" style="font-size: x-large;">Archivo</h2>
                <br>
                <br>
                   <table>
                      <tr>                        
                        <td>{{ form_widget(form.form_archivo.fechaCarga, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Calle'}}) }}</td>
                      </tr>
                      <tr>                        
                        <td>{{ form_widget(form.form_archivo.path, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Calle'}}) }}</td>
                      </tr>
                      <tr>                        
                        <td>{{ form_widget(form.form_archivo.nombreArchivo, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Calle'}}) }}</td>
                      </tr>
                      <tr>                        
                        <td>{{ form_widget(form.form_archivo.tipoArchivo, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Calle'}}) }}</td>
                      </tr>
                      <tr>                        
                        <td>{{ form_widget(form.form_archivo.borrado, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Calle'}}) }}</td>
                      </tr>
                      <tr>                        
                        <td>{{ form_widget(form.form_archivo.profesionalRegistracion, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Calle'}}) }}</td>
                      </tr>
                    </table>
                </div>             

      </div>
  
  <button class="btn btn-primary" id="btn_form">{{ button_label|default('Guardar') }}</button>  
{{ form_end(form) }} 
</div>
{# Columna Principal #}

        
    
    
