{% extends 'base.html.twig' %}

{% block title %}Consulta{% endblock %}

{% block encabezado %}
    Consulta
{% endblock %}

{% block main %}
    
    <div style="max-width: 60%; margin:auto">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ obstetra.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ obstetra.Nombre }}</td>
            </tr>
            <tr>
                <th>CodigoHosp</th>
                <td>{{ obstetra.codigoHosp }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ obstetra.direccion }}</td>
            </tr>
        </tbody>
    </table>
    </div>  

    <a class="btn btn-secondary" href="{{ path('app_obstetra_edit', {'id': obstetra.id}) }}">Editar</a>

    {{ include('obstetra/_delete_form.html.twig') }}


{% endblock %}
