{% extends 'base.html.twig' %}

{% block title %}Consulta{% endblock %}

{% block encabezado %}
    Consulta
{% endblock %}

{% block main %}


<div style="max-width: 60%; margin:auto">
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medico.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ medico.Nombre }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td>{{ medico.dni }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ medico.sexo }}</td>
            </tr>
        </tbody>
    </table>
</div>
   
    

    <a class="btn btn-secondary" href="{{ path('app_medico_edit', {'id': medico.id}) }}">Editar</a>
    
    {{ include('medico/_delete_form.html.twig') }}

    
{% endblock %}
